{% extends 'base.html.twig' %}

{% block body %}
<section class="tablas">
    <a class="btn" href="{{ path('noticia_new') }}">Añadir noticia</a>
    <h3>Noticias:</h3>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Bajada</th>
                <th>Fechapublicacion</th>
                <th>Contenido</th>
                <th>Firmante</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for noticia in noticias %}
            <tr>
                <td>
                    <a href="{{ path('noticia_show', { 'id': noticia.id }) }}">{{ noticia.titulo }}</a>
                </td>
                <td>{{ noticia.bajada }}</td>
                <td>{% if noticia.fechaPublicacion %}{{ noticia.fechaPublicacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ noticia.contenido|raw }}</td>
                <td>{{ noticia.firmante }}</td>
                <td>
                    <i class="fas fa-edit"></i><a class="opcion" href="{{ path('noticia_edit', { 'id': noticia.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
