{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <table class="table table-responsive d-flex justify-content-center">
        <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ noticia.titulo }}</td>
            </tr>
            <tr>
                <th>Bajada</th>
                <td>{{ noticia.bajada }}</td>
            </tr>
            <tr>
                <th>Fechapublicacion</th>
                <td>{% if noticia.fechaPublicacion %}{{ noticia.fechaPublicacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ noticia.contenido|raw }}</td>
            </tr>
            <tr>
                <th>Firmante</th>
                <td>{{ noticia.firmante }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('noticia_edit', { 'id': noticia.id }) }}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
