{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <div class="header-noticia">
            
            <h2 class="titulo-noticia">{{ noticia.titulo }}</h2>
            
            {% if noticia.fechaPublicacion %}
                {{ noticia.fechaPublicacion|date("d/m/Y") }}
            {% endif %}
        </div>
        <div>
            <p>{{ noticia.bajada }}</p>
            <p>{{ noticia.contenido|raw }}</p>

            {% if noticia.archivo is not empty %}
                <a class="archivo" href="{{ asset('pdf/'~noticia.archivo) }}">Ver archivo</a>
            {% endif %}

            <div>
                <p>Firma la noticia:
                {% if noticia.firmante is not empty %}
                    {{ noticia.firmante }}
                {% else %}
                    {{ noticia.getUsuarioNoticia()->getNombre() }}
                {% endif %}</p>
            </div>
        </div>
    </div>
{% endblock %}
