{% extends 'base.html.twig' %}

{% block body %}

	<div class="row home">
		<div class="col-lg-4 col-md-12 col-sm-12">
			<h2 class="titulo-catedras-home"><i class="fas fa-list-ul"></i> Cátedras</h2>

			<div class="buscador">
				<input type="text" class="texto-gris" placeholder="Filtrar por nombre de la cátedra" id="buscador" value=""/>
			</div>

			<table id="tablaCatedras" class="table table-striped">
				<tbody>
					{% for catedra in catedras %}
					<tr>
						<td>
							<i class="fas fa-angle-right"></i><a href="{{ path('catedra_show', { 'id': catedra.id }) }}" class="">{{catedra.nombre}}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

	    </div>
	    <div class="col-lg-8 col-md-12 col-sm-12">
	    	<h2 class="titulo-noticias-home">Noticias  <i class="fas fa-bullhorn"></i></h2>

			{% for noticia in noticias %}
				<section class="jumbotron">
					<div class="fecha-noticia">{{ noticia.fechaPublicacion|date("d/m/Y") }}</div>
		            <h6 class="titulo-noticia"><a href="{{ path('noticia_show', { 'id': noticia.id }) }}">{{ noticia.titulo }}</a></h6>
		            <p class="bajada-noticia">{{ noticia.bajada }}</p>
		            <p class="contenido-noticia">{{ noticia.contenido|raw }}</p>
		            {% if noticia.archivo is not empty %}
		            	<a class="archivo" href="{{ asset('pdf/'~noticia.archivo) }}">VER ARCHIVO</iframe></a>
		            {% endif %}
		            <div>
		            	{{ noticia.firmante }}
		            </div>
		        </section>
		    {% endfor %}
	    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
		jQuery("#buscador").keyup(function(){
		    if( jQuery(this).val() != ""){
		        jQuery("#tablaCatedras tbody>tr").hide();
		        jQuery("#tablaCatedras td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
		    }
		    else{
		        jQuery("#tablaCatedras tbody>tr").show();
		    }
		});

		jQuery.extend(jQuery.expr[":"],
		{
		    "contiene-palabra": function(elem, i, match, array) {
		        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
		    }
		});
	</script>
{% endblock %}
