{% extends 'base.html.twig' %}

{% block body %}
	<div class="row home">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<h2 class="titulo-catedras-home"><i class="fas fa-list-ul"></i> Cátedras</h2>
			{% for catedra in catedras %}
				<div class="list-group">
				  <a target="blank" href="/catedra/{{catedra.id}}" class="list-group-item disabled">{{catedra.nombre}}</a>
				</div>
			{% endfor %}
	    </div>
	    <div class="col-md-8 col-sm-12 col-xs-12">
	    	<h2 class="titulo-noticias-home">Noticias institucionales <i class="fas fa-bullhorn"></i></h2>

			{% for noticia in noticias %}
				<section class="jumbotron">
		            <h6 class="titulo-noticia">{{ noticia.titulo }}</h6>
		            {{ noticia.bajada }}
		            <div>
		            	{{ noticia.contenido|raw }}
		            </div>
		            {{ noticia.firmante }}	    
		        </section>
		    {% endfor %}
	    </div>
    </div>
{% endblock %}

