{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Editar usuario:</h2>

        {{ form_start(edit_form) }}

            {{ form_row(edit_form.nombre) }}

            {{ form_row(edit_form.apellido) }}

            {{ form_row(edit_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su e-mail' }, 'label': 'E-mail:'}) }}

            {{ form_row(edit_form.username, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese nombre de usuario' }, 'label': 'Nombre de usuario:'}) }}

            {{ form_row(edit_form.telefonoContacto, { 'label': 'Teléfono de contacto' }) }}

            {{ form_row(edit_form.rol, { 'label': 'Rol' }) }}

            <div id="input-catedra">
              {{ form_row(edit_form.catedra, {'label': 'Seleccione la cátedra'}) }}
            </div>

            <div id="input-visado">
              {{ form_row(edit_form.visado, {'label': 'Seleccione si el usuario requiere visado'}) }}
            </div>

            {{ form_widget(edit_form) }}

            <input class="btn" type="submit" value="Editar"/>
            
        {{ form_end(edit_form) }}

    </section>
{% endblock %}

{% block javascripts %}

  <script type="text/javascript">

      $(document).ready(function(){
          if ($('#appbundle_usuario_rol').val() != '3') {
              $("#appbundle_usuario_visado").hide();
              $("#appbundle_usuario_catedra").hide();
              $("#input-catedra").hide();
              $("#input-visado").hide();
          }

      });

      $('#appbundle_usuario_rol').on('change', function() {
          if ($('#appbundle_usuario_rol').val() == '1') {
              $('#appbundle_usuario_visado').show();
              $('#appbundle_usuario_catedra').show();
              $("#input-catedra").show();
              $("#input-visado").show();
          } else {
              $("#appbundle_usuario_visado").hide();
              $("#appbundle_usuario_visado").prop("checked", false);
              $("#appbundle_usuario_catedra").hide();
              $('#appbundle_usuario_catedra').val('');
          }
      });
  </script>

{% endblock %}
