{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Editar usuario:</h2>

        {{ form_start(edit_form) }}

            {{ form_row(edit_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su e-mail' }, 'label': 'E-mail:'}) }}

            {{ form_row(edit_form.username, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese nombre de usuario' }, 'label': 'Nombre de usuario:'}) }}

            {{ form_widget(edit_form) }}

            <input class="btn" type="submit" value="Editar" />
        {{ form_end(edit_form) }}

    </section>
{% endblock %}

{% block javascript %}

{% endblock %}
