{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Editar usuario:</h2>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn" type="submit" value="Editar" />
        {{ form_end(edit_form) }}

<!--             <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li> -->
    </section>
{% endblock %}
