{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    <section class="tablas">
        <a class="btn" href="{{ path('usuario_new') }}">Añadir usuario</a>
        <h3></h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre y apellido</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Visado</th>
                        <th>Teléfono contacto</th>
                        <th>Cátedra</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">
                                {{ usuario.nombre }} {{ usuario.apellido }}
                            </a>
                        </td>
                        <td><p>{{ usuario.email }}</p></td>
                        <td>
                            {% if usuario.rol is not empty %}
                            <p>{{ usuario.rol.nombre }}</p>
                            {% endif %}
                        </td>
                        <td><p>{% if usuario.visado %}Si{% else %}No{% endif %}</p></td>
                        <td><p>{{ usuario.telefonoContacto }}</p></td>
                        <td><p>{{ usuario.catedra }}</p></td>
                        <td>
                            <a class="opcion" href="{{ path('usuario_edit', { 'id': usuario.id }) }}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a href="{{ path('usuario_delete', { 'id': usuario.id }) }}" onclick="return confirm('Está seguro que quiere eliminar? Esta acción no se puede revertir')"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
