{% extends 'base.html.twig' %}

{% block body %}

    <section class="tablas">
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flash_message }}
            </div>
        {% endfor %}
        <a class="btn" href="{{ path('usuario_new') }}">A침adir usuario</a>
        <h3></h3>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Visado</th>
                    <th>Telefono contacto</th>
                    <th>Responsable de c치tedra</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">
                            {{ usuario.nombre }}
                        </a>
                    </td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{% if usuario.visado %}Yes{% else %}No{% endif %}</td>
                    <td>{{ usuario.telefonoContacto }}</td>
                    <td>{{ usuario.catedra }}</td>
                    <td>                         
                        <i class="fas fa-edit"></i><a class="opcion" href="{{ path('usuario_edit', { 'id': usuario.id }) }}">editar</a>
                        <a href=""></a>
                    </td>
                    <td>
                        <a href="{{ path('usuario_delete', { 'id': usuario.id }) }}" onclick="return confirm('Est치 seguro que quiere eliminar? Esta acci칩n no se puede revertir')"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
