{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Nuevo usuario:</h2>

        {{ form_start(form) }}

        	{{ form_row(form.nombre) }}

        	{{ form_row(form.apellido) }}

        	{{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su e-mail' }, 'label': 'E-mail:'}) }}

        	{{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese nombre de usuario' }, 'label': 'Nombre de usuario:'}) }}

        	{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su contraseña' }, 'label': 'Contraseña:'}) }}

        	{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirme su contraseña' }, 'label': 'Ingrese nuevamente la contraseña:'}) }}

          {{ form_row(form.telefonoContacto, { 'label': 'Teléfono de contacto' }) }}

          {{ form_row(form.rol, { 'label': 'Rol' }) }}

          <div id="input-catedra">
            {{ form_row(form.catedra, {'label': 'Seleccione la cátedra'}) }}
          </div>

          <div id="input-visado">
            {{ form_row(form.visado, {'label': 'Seleccione si el usuario requiere visado'}) }}
          </div>

            {{ form_widget(form) }}

            <input class="btn" type="submit" value="Guardar" />
        {{ form_end(form) }}

    </section>
{% endblock %}

{% block javascripts %}

  <script type="text/javascript">

      $(document).ready(function(){
          $("#input-catedra").hide();
          $("#input-visado").hide();
          $("#appbundle_usuario_visado").hide();
          $("#appbundle_usuario_catedra").hide();

      });

      $('#appbundle_usuario_rol').on('change', function() {
          if ($('#appbundle_usuario_rol').val() == '1') {
              $('#appbundle_usuario_visado').show();
              $('#appbundle_usuario_catedra').show();
              $("#input-catedra").show();
              $("#input-visado").show();
          } else {
              $("#appbundle_usuario_visado").hide();
              $("#appbundle_usuario_visado").prop("checked", false);
              $("#appbundle_usuario_catedra").hide();
              $('#appbundle_usuario_catedra').val('');
          }
      });
  </script>

{% endblock %}
