{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Nuevo usuario:</h2>

        {{ form_start(form) }}

        	{{ form_row(form.nombre) }}

        	{{ form_row(form.apellido) }}

        	{{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su e-mail' }, 'label': 'E-mail:'}) }}

        	{{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese nombre de usuario' }, 'label': 'Nombre de usuario:'}) }}

        	{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su contrase単a' }, 'label': 'Contrase単a:'}) }}

        	{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirme su contrase単a' }, 'label': 'Ingrese nuevamente la contrase単a:'}) }}

            {{ form_widget(form) }}

            <input class="btn" type="submit" value="Guardar" />
        {{ form_end(form) }}

    </section>
{% endblock %}
