{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="container jumbotron">
            
                <div>{{ usuario.nombre }}</div>
            
         
                <div>{{ usuario.apellido }}</div>

                <div>{{ usuario.email }}</div>

                <div>{{ usuario.username }}</div>

                <div>{{ usuario.telefonoContacto }}</div>
   
                <div>{{ usuario.rol.nombre }}</div>
           
            {% if usuario.catedra %}

                <div>{{ usuario.catedra.nombre }}</div>
            
                <div>{% if usuario.visado %}Yes{% else %}No{% endif %}</div>
          
            {% endif %}
           
                    <a class="btn" href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
       
                    <a class="btn" href="{{ path('usuario_index') }}">Volver a la lista</a>
             
    </div>
{% endblock %}
