{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <table class="table table-responsive d-flex justify-content-center">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Nombre de Usuario</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Teléfono de Contacto</th>
                <td>{{ usuario.telefonoContacto }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ usuario.rol.nombre }}</td>
            </tr>
            {% if usuario.catedra %}
            <tr>
                <th>Cátedra</th>
                <td>{{ usuario.catedra.nombre }}</td>
            </tr>
            <tr>
                <th>Visado</th>
                <td>{% if usuario.visado %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('usuario_index') }}">Volver a la lista</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
