{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Editar cátedra:</h2>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn" type="submit" value="Guardar" />
        {{ form_end(edit_form) }}
    </section>
        <!-- <ul>
            <li>
                <a href="{{ path('catedra_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul> -->
    {% endblock %}
