{% extends 'base.html.twig' %}

{% block body %}
<section class="tablas">
    <a class="btn" href="{{ path('catedra_new') }}">Añadir cátedra</a>
    <h3 class="titulo-tabla"></h3>
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email contacto</th>
                <th>Horario atención</th>
                <th>Telefono contacto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for catedra in catedras %}
            <tr>
                <td>
                    <a href="{{ path('catedra_show', { 'id': catedra.id }) }}">{{ catedra.nombre }}</a>
                </td>
                <td>{{ catedra.emailContacto }}</td>
                <td>{% if catedra.horarioAtencion %}{{ catedra.horarioAtencion }}{% endif %}</td>
                <td>{{ catedra.telefonoContacto }}</td>
                <td>
                    <i class="fas fa-edit"></i><a class="opcion" href="{{ path('catedra_edit', { 'id': catedra.id }) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('catedra_delete', { 'id': catedra.id }) }}" onclick="return confirm('Está seguro que quiere eliminar? Esta acción no se puede revertir')"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
