{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between align-items-end">
        <h1 class="nombre-catedra">{{ catedra.nombre }}</h1>
        <div class="mr-5">
            <a class="btn" href="{{ path('publicacion_new', { 'id': catedra.id }) }}">Añadir publicación</a>
        </div>

    </div>

    <div class="container-fluid info-catedra">
        <div><i class="fas fa-envelope"></i>
            {{ catedra.emailContacto }}
        </div>
        <i class="fas fa-phone"></i>
            {{ catedra.telefonoContacto }}
        <div><i class="fas fa-user-alt"></i>
            {% if catedra.horarioAtencion %}{{ catedra.horarioAtencion }}{% endif %}
        </div>
    </div>

    <div class="row publicaciones">
    {% for publicacion in publicaciones %}
            <div class="col-md-4">
                <div class="jumbotron">
                        <ul>
                            <li>
                                <a href="{{ path('publicacion_edit', { 'id': publicacion.id }) }}"><i class="fas fa-edit"></i></a>
                            </li>
                            <li>
                                <a href="{{ path('publicacion_delete', { 'id': publicacion.id }) }}" onclick="return confirm('Está seguro que quiere eliminar? Esta acción no se puede revertir')"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        </ul>
                    <div class="header-publicacion">
                        <p>
                        <i class="fas fa-paperclip"></i>
                        {{ publicacion.etiqueta }}
                        </p>
                        {{ publicacion.fechaPublicacion|date("d/m/Y") }}
                    </div>
                    <div>
                        <h6>{{ publicacion.titulo }}</h6>
                        <p>{{ publicacion.bajada }}</p>
                        {{ publicacion.contenido|raw }}
                        {% if publicacion.archivo is not empty %}
                            <a href="{{ asset('pdf/'~publicacion.archivo) }}" target="_blank">Ver pdf</a>
                        {% endif %}

                        {% if publicacion.firmante is not empty %}
                            <div>
                                <p>Firma la publicación:
                                {% if publicacion.firmante is not empty %}
                                    {{ publicacion.firmante }}</p>
                                {% else %}
                                    {{ publicacion.getNombreUsuarioPublicacion() }}</p>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
    {% endfor %}
    </div>



{% endblock %}

{% block javascripts %}


{% endblock %}
