{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between align-items-end">
        <h1 class="nombre-catedra">{{ catedra.nombre }}
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <a class="opcion" href="{{ path('catedra_edit', { 'id': catedra.id }) }}"><i class="fas fa-edit"></i>Editar</a>
        </h1>
        <div class="mr-5">
            <a class="btn" href="{{ path('publicacion_new', { 'id': catedra.id }) }}">Añadir publicación</a>
        </div>
        {% endif %}
    </div>

    <div class="container-fluid info-catedra">
        <div><i class="fas fa-envelope"></i>
            {{ catedra.emailContacto }}
        </div> 
        <i class="fas fa-phone"></i>
            {{ catedra.telefonoContacto }}
        <div><i class="fas fa-user-alt"></i>    
            {% if catedra.horarioAtencion %}{{ catedra.horarioAtencion }}{% endif %}
        </div>
    </div>
<!-- 
    <ul class="nav">
         <li class="nav item">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul> -->

    <div class="row publicaciones">
    {% for publicacion in publicaciones %}
            <div class="col-md-4">
                <div class="jumbotron">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('publicacion_edit', { 'id': publicacion.id }) }}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    <div class="header-publicacion">
                        <p>
                        <i class="fas fa-paperclip"></i>
                        {{ publicacion.etiqueta }}
                        </p>
                        {{ publicacion.fechaPublicacion|date("d/m/Y") }}
                    </div>
                    <div>
                        <h6>{{ publicacion.titulo }}</h6>
                        <p>{{ publicacion.bajada }}</p>
                        {{ publicacion.contenido|raw }}
                        <div>
                            <p>Firma la publicación:</p>
                            {{ publicacion.firmante }}
                        </div>
                        
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>

{% endblock %}
