{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="nombre-catedra">{{ catedra.nombre }}</h1>

    <div class="container info-catedra">
        <p><i class="fas fa-envelope"></i> {{ catedra.emailContacto }}</p>
        {% if catedra.telefonoContacto is not empty %}
        <i class="fas fa-phone"></i> {{ catedra.telefonoContacto }}
        {% endif %}
        {% if catedra.horarioAtencion is not empty %}
            <p><i class="fas fa-user-alt"></i> {{ catedra.horarioAtencion }}</p>
        {% endif %}
        
    </div>

    <div class="etiquetas">
        {% for etiqueta in etiquetas %}
          <a class="btn-etiqueta" href="{{ path('catedra_show_etiqueta', { 'id': catedra.id, 'etiqueta': etiqueta.id}) }}"><i class="fas fa-paperclip"></i>{{ etiqueta.nombre }}</a>
        {% endfor %}
          <a class="btn-etiqueta" href="{{ path('catedra_show', { 'id': catedra.id }) }}"><i class="fas fa-paperclip"></i>Todas</a>
    </div>

    <div class="row publicaciones">

        {% for publicacion in publicaciones %}
                <div class="col-lg-4 col-md-6">
                    <div class="jumbotron">
                        <div class="header-publicacion">
                            <p>
                            <i class="fas fa-paperclip"></i>
                            {{ publicacion.etiqueta }}
                            </p>
                            {{ publicacion.fechaPublicacion|date("d/m/Y") }}
                        </div>
                        <div>
                            <h6 class="titulo-publi"><a href="{{ path('publicacion_show', { 'id': publicacion.id }) }}">{{ publicacion.titulo }}</a></h6>
                            <p>{{ publicacion.bajada }}</p>
                            <p>{{ publicacion.contenido|raw }}</p>

                            {% if publicacion.archivo is not empty %}
                                <a href="{{ asset('pdf/'~publicacion.archivo) }}">Ver archivo</a>
                            {% endif %}

                            <div>
                                <p>Firma la publicación:
                                {% if publicacion.firmante is not empty %}
                                    {{ publicacion.firmante }}
                                {% else %}
                                    {{ publicacion.getNombreUsuarioPublicacion() }}
                                {% endif %}</p>
                            </div>

                            {% if publicacion.modificacion %}
                                <p><strong>Modificada el día {{ publicacion.modificacion.fecha|date("d/m/Y") }}
                                {{ publicacion.modificacion.hora|date("H:i") }} hs
                                por {{ publicacion.modificacion.nombreAutor }}</strong></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>



{% endblock %}

{% block javascripts %}


{% endblock %}
