{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="nombre-catedra">{{ catedra.nombre }}</h1>

    <div class="container-fluid info-catedra">
        <div><i class="fas fa-envelope"></i>
            {{ catedra.emailContacto }}
        </div>
        <i class="fas fa-phone"></i>
            {{ catedra.telefonoContacto }}
        <div><i class="fas fa-user-alt"></i>
            {% if catedra.horarioAtencion %}{{ catedra.horarioAtencion }}{% endif %}
        </div>
    </div>

    <div class="etiquetas">
        {% for etiqueta in etiquetas %}
          <a class="btn-etiqueta" href="{{ path('catedra_show_etiqueta', { 'id': catedra.id, 'etiqueta': etiqueta.id}) }}"><i class="fas fa-paperclip"></i>{{ etiqueta.nombre }}</a>
        {% endfor %}
          <a class="btn-etiqueta" href="{{ path('catedra_show', { 'id': catedra.id }) }}"><i class="fas fa-paperclip"></i>Todas</a>
    </div>

    <div class="row publicaciones">

        {% for publicacion in publicaciones %}
                <div class="col-lg-4 col-md-6">
                    <div class="jumbotron">
                        <div class="header-publicacion">
                            <p>
                            <i class="fas fa-paperclip"></i>
                            {{ publicacion.etiqueta }}
                            </p>
                            {{ publicacion.fechaPublicacion|date("d/m/Y") }}
                        </div>
                        <div>
                            <h6>{{ publicacion.titulo }}</h6>
                            <p>{{ publicacion.bajada }}</p>
                            {{ publicacion.contenido|raw }}
                            {% if publicacion.archivo is not empty %}
                                <a href="{{ asset('pdf/'~publicacion.archivo) }}">Ver pdf</a>
                            {% endif %}
                            <a style="display: block;" target="_blank" href="{{ publicacion.link1 }}">{{publicacion.link1}}</a>
                            <a style="display: block;" target="_blank" href="{{ publicacion.link2 }}">{{publicacion.link2}}</a>
                            <div>
                                <p>Firma la publicación:
                                {% if publicacion.firmante is not empty %}
                                    {{ publicacion.firmante }}</p>
                                {% else %}
                                    {{ publicacion.usuarioPublicacion }}</p>
                                {% endif %}
                            </div>

                            {% if publicacion.modificacion %}
                                <p>Modificada el día {{ publicacion.modificacion.fecha|date("d/m/Y") }}
                                {{ publicacion.modificacion.hora|date("H:i") }} hs
                                por {{ publicacion.modificacion.nombreAutor }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>



{% endblock %}

{% block javascripts %}


{% endblock %}
