{% extends 'base.html.twig' %}

{% block body %}

    <section class="formularios">
        <h1>Editar publicación</h1>

        {{ form_start(edit_form) }}
        	{{ form_row(edit_form.archivo) }}
        	<p>Archivo actual: <a href="{{ asset('pdf/'~publicacion.archivo) }}">{{ publicacion.archivo }}</a></p>
            {{ form_widget(edit_form) }}
            <input class="btn" type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </section>


{% endblock %}
