{% extends 'base.html.twig' %}

{% block body %}
    <section class="tablas">
        <a class="btn" href="{{ path('publicacion_new') }}">Añadir publicación</a>
        <h3></h3>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Bajada</th>
                    <th>Fecha publicacion</th>
                    <th>Contenido</th>
                    <th>Archivos:</th>
                    <th>Fecha caducidad</th>
                    <th>Firmante</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for publicacion in publicaciones %}
                <tr>
                    <td>
                        <a href="{{ path('publicacion_show', { 'id': publicacion.id }) }}">
                            {{ publicacion.titulo }}
                        </a>
                    </td>
                    <td>{{ publicacion.bajada }}</td>
                    <td>{% if publicacion.fechaPublicacion %}{{ publicacion.fechaPublicacion|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ publicacion.contenido|raw }}</td>
                    <td>
                        <a href="{{ asset('pdf/'~publicacion.archivo) }}">Ver pdf</a>
                    </td>
                    <td>{% if publicacion.fechaCaducidad %}{{ publicacion.fechaCaducidad|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ publicacion.firmante }}</td>
                    <td>
                        <a href="{{ path('publicacion_edit', { 'id': publicacion.id }) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
