{% extends 'base.html.twig' %}

{% block body %}

<section class="tablas">
		<h3>Publicaciones por visar</h3>

		<table class="table table-responsive">
				<thead>
						<tr>
								<th>Titulo</th>
								<th>Bajada</th>
								<th>Nombre autor</th>
								<th>Fecha publicacion</th>
								<th>Contenido</th>
								<th>Fecha caducidad</th>
								<th>Firmante</th>
								<th></th>
						</tr>
				</thead>
				<tbody>
				{% for publicacion in publicaciones %}
						<tr>
								<td>
										<a href="{{ path('publicacion_show', { 'id': publicacion.id }) }}">
												{{ publicacion.titulo }}
										</a>
								</td>
								<td>{{ publicacion.bajada }}</td>
								<td>{{ publicacion.nombreAutor }}</td>
								<td>{% if publicacion.fechaPublicacion %}{{ publicacion.fechaPublicacion|date('Y-m-d') }}{% endif %}</td>
								<td>{{ publicacion.contenido|raw }}</td>
								<td>{% if publicacion.fechaCaducidad %}{{ publicacion.fechaCaducidad|date('Y-m-d') }}{% endif %}</td>
								<td>{{ publicacion.firmante }}</td>
								<td>
									
										{% set aprobar = 'visar_form.Aprobar'~publicacion.id %}
										{{ aprobar }}
										{# {{ form_row(aprobar) }} #} <!-- Esta linea deberia decir donde esta la variable "aprobar"
										 																		lo que tiene como string guardado: visar_form.Aprobar#
																												donde # es el numero de id de la publicacion actualdel for -->

								</td>
						</tr>
				{% endfor %}
				</tbody>
		</table>
		{{ form_row(visar_form.Confirmar) }}
</section>

{% endblock %}
