{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <table class="table table-responsive d-flex justify-content-center">
        <tbody>
            <tr>
                <td class="titulo-publicacion">{{ publicacion.titulo }}</td>
            </tr>
            <tr>
                <td>{{ publicacion.bajada }}</td>
            </tr>
            <tr>
                <td>Fecha: {% if publicacion.fechaPublicacion %}{{ publicacion.fechaPublicacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <td>{% if publicacion.fechaCaducidad %}Fecha de caducidad: {{ publicacion.fechaCaducidad|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <td>{{ publicacion.contenido|raw }}</td>
            </tr>
            <tr>
                <th>Firmante</th>
                <td>{{ publicacion.firmante }}</td>
            </tr>
            <tr>
                {% if publicacion.archivo %}
                    <th>Archivo:</th>
                    <td>{{ publicacion.archivo }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ publicacion.link1 }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('publicacion_edit', { 'id': publicacion.id }) }}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
