{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <div class="header-publicacion">
            <p>
            <i class="fas fa-paperclip"></i>
            {{ publicacion.etiqueta }}
            </p>
            {{ publicacion.fechaPublicacion|date("d/m/Y") }}
        </div>
        <div>
            <h2 class="titulo-publicacion">{{ publicacion.titulo }}</h2>
            <p>{{ publicacion.bajada }}</p>
            <p>{{ publicacion.contenido|raw }}</p>

            {% if publicacion.archivo is not empty %}
                <a href="{{ asset('pdf/'~publicacion.archivo) }}">ver adjunto</a>
            {% endif %}

            <div>
                <p>Firma la publicación:
                {% if publicacion.firmante is not empty %}
                    {{ publicacion.firmante }}
                {% else %}
                    {{ publicacion.getNombreUsuarioPublicacion() }}
                {% endif %}</p>
            </div>

            {% if publicacion.modificacion %}
                <p><strong>Modificada el día {{ publicacion.modificacion.fecha|date("d/m/Y") }}
                {{ publicacion.modificacion.hora|date("H:i") }} hs
                por {{ publicacion.modificacion.nombreAutor }}</strong></p>
            {% endif %}
        </div>
    </div>

{% endblock %}
