{% extends 'base.html.twig' %}

{% form_theme visar_form _self %}


{% block visadochoice_row %}
{{ dump(form.parent.vars.value) }}

<h3>{{label}}</h3>

<a href="">{{form.parent.vars.titulo}}</a>

{% endblock %}

{% block body %}
<section class="formulario-visado">

    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(visar_form) }}
    

    	{{ form_row(visar_form.aprobada) }}

        
        <input class="btn" type="submit" value="Guardar" />
    {{ form_end(visar_form) }}

</section>
{% endblock %}

