{% extends 'base.html.twig' %}

{% form_theme visar_form _self %}


{% block visadochoice_row %}


<h3>{{label}}</h3>
<div id="appbundle_publicacion_aprobada">
{% for child in form %}

	<div class="form-check">

		<input type="checkbox" id="{{child.vars.name}}" name="appbundle_publicacion[aprobada][]" class="form-check-input" value="{{ child.vars.value }}">
		<label class="form-check-label" for="{{ child.vars.name }}">
			<a target="_blank" href="{{ path('publicacion_show', { 'id': child.vars.value }) }}">{{child.vars.label}}</a>
		</label>

	</div>
	
{% endfor %}
</div>
{% endblock %}

{% block body %}
<section class="formulario-visado">

    {% for flash_message in app.session.flashbag.get('exito') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(visar_form) }}
    

    	{{ form_row(visar_form.aprobada) }}

        
        <input class="btn" type="submit" value="Guardar" />
    {{ form_end(visar_form) }}

</section>
{% endblock %}

