{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">
        {% if error.messageKey == "Invalid credentials." %}
             Error - El usuario y/o contrase침a son inv치lidos
        {% else %}
            {{ error.messageKey }}
        {% endif %}
    </div>
{% endif %}
<section class="formulario-login jumbotron">
    <form action="{{ path("fos_user_security_check") }}" method="post">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
        <div class="form-group">
            <label for="password">Contrase침a:</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Recordar</label>
        </div>

        <div class="form-group d-flex justify-content-center">
            <input class="btn" type="submit" id="_submit" name="_submit" value="Enviar" />
        </div>

        <div class="d-flex justify-content-center">
            <a class="nav-link" href="{{ path('fos_user_resetting_request') }}">Recuperar contrase침a</a>
        </div>
    </form>
</section>