{% trans_default_domain 'FOSUserBundle' %}

<section class="formularios">

	<h2 class="titulo-form">Recuperación de contraseña</h2>
	<br>

	{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

		{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese su nueva contraseña' }, 'label': 'Nueva contraseña:'}) }}

		{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirme su contraseña' }, 'label': 'Ingrese nuevamente la contraseña:'}) }}

	    {{ form_widget(form) }}
	    <br>
	    <div>
	        <input class="btn" type="submit" value="GUARDAR" />
	    </div>
	{{ form_end(form) }}

</section>