{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etiquetas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etiqueta in etiquetas %}
            <tr>
                <td><a href="{{ path('etiqueta_show', { 'id': etiqueta.id }) }}">{{ etiqueta.id }}</a></td>
                <td>{{ etiqueta.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etiqueta_show', { 'id': etiqueta.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etiqueta_edit', { 'id': etiqueta.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etiqueta_new') }}">Create a new etiqueta</a>
        </li>
    </ul>
{% endblock %}
