{% extends 'base.html.twig' %}

{% block body %}
    <h1>etiqueta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etiqueta.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ etiqueta.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etiqueta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etiqueta_edit', { 'id': etiqueta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
